services:
  preprocess:
    container_name: soc-preprocess
    build: .
    restart: unless-stopped
    ports:
      - "8081:8081"
    env_file:
      - .env
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"